.body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: relative;
    width: 100%;
    height: 1024px;
    background-image: linear-gradient(rgba(233, 233, 21, 0.11), rgba(189, 89, 8, 0.164)), url(/Images/pexels-bob-ward-3347244.jpg);
    color: #fff;
}
#hotelbox{
    opacity: 1;
}

.wrapperH {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 45px;
    gap: 45px;
    width: 100%;
    height: 350px;
    background: #03032200;
    /* Inside auto layout */
    /*flex: none;
    order: 0;
    flex-grow: 0;*/
}
section .wrapperH {
    height: auto;
    padding: 5px 40px;
}
.header1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px;
    gap: 17.1px;
    font-size: 100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    width: 75%;
    height: 260px;
    color: #FCC328;
        /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}
.header2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px;
    gap: 17.1px;
    font-size: 4em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0px 0px;
    width: auto;
    height: auto;
    color: #FCC328;
        /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}
#divResult {
    gap: 0px;
    background-color: rgb(173, 154, 120);
}
#divResult h3 {
    height: auto;
    color: #35322ef9;
}
figure {
    width: 100%;
    align-items: center;
    padding: 5%;
    background-color: #35322e00;
    display: flex;
    flex-direction: column;
}
.content h3 {
    color: #F7E6AE;
    align-items: center;
}
.img1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px;
    width: 25%;
    height: 250px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    }
.img2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px;
    width: 100px;
    height: auto;
    margin: 0px 0px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.img3 {
    width: 50%;
    background-color: #03032200;
    padding: 20px 40px;
}
.wrapperV {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 28px;
    width: 100%;
    height: auto;
/* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
#divResult .wrapperV {
    display: block;
}
.h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 2%;
    gap: 10px;
    color: #F7E6AE;
    width: 100%;
    height: 88px;
    background: #fbfcd43a;
/* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
ul {
/* wrapperH */
/* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 13px;
    width: 634px;
    height: 66.38px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
ul {
    display: inline;
}
li {
    width: 150px;
    color: chartreuse;
    display: flex;
}
li .wrapperV {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 116.4px;
    height: 66.38px;
    background: #F1F1F1;
    border-radius: 6.27879px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}
.column {
    color: red;
}
.submit1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 97px 18px 26px;
    gap: 10px;
    width: 428px;
    height: 85px;
    color: #FCC328;
    background: #35322ef9;
    border-radius: 74px;
/* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.button1{
    width: 177.87px;
    height: 60px;
    border-radius: 74px;
    background: #BC921E;
    color: #FFFAED;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}